/**
 * Variables
 *
 * @author magnify
 */
/* Spacing variables
   ========================================================================== */
/* Zen Grid variables
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/* Standard color definitions
   ========================================================================== */
/* Font library
   ========================================================================== */
/* Typography
   ========================================================================== */
/* Font variables
   ========================================================================== */
/* Font sizes
   ========================================================================== */
/* Labels
   ========================================================================== */
/* Navigation
   ========================================================================== */
/* Availability
   ========================================================================== */
/**
 * Colors that can be configured through theme settings.
 *
 * Every color settings MUST be in HEX format..
 * @author magnify
 */
/* Body */
/* Topbar */
/* Header */
/* Navigation */
/* Tabroll */
/* Links */
/* Labels */
/* Content */
/* List */
/* Footer */
/* Buttons */
/* Dialog box */
/* Funny facts */
/* Carousel */
/**
 * Rules that can be configured is located in this file.
 *
 * @author magnify
 */
/* Topbar background color */
.topbar {
  background-color: #d8d8d8;
}

/* Header background color */
.header-wrapper {
  background-color: #001a27;
}

/* Navigation background color */
.navigation-wrapper {
  background-color: #001a28;
}

/* Links */
a {
  font-weight: normal;
}
a:link {
  color: #436972;
  text-decoration: none;
}
a:visited {
  color: #273d42;
  text-decoration: none;
}
a:hover {
  color: #36555c;
  text-decoration: underline;
}
a:hover i[class^="icon-"] {
  text-decoration: none;
}
a:focus {
  color: #36555c;
}

/* Layout background color */
.layout-wrapper {
  background-color: #fffffe;
}

/* Article background extends */
/* Footer background color */
.footer {
  background-color: #001a27;
}

/* Bottom background color */
.bottom {
  background-color: #00090e;
}

/**
 * Buttons
 *
 * @author magnify
 */
/* Variables
   ========================================================================== */
/* Extends
   ========================================================================== */
.user .form-submit,
.search .form-submit {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  font-size: 100%;
  padding: 8px 14px;
  position: relative;
  box-shadow: 0 0 1px #595959 inset;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
}
.user .form-submit:focus,
.search .form-submit:focus, .user .form-submit:hover,
.search .form-submit:hover, .user .form-submit:active,
.search .form-submit:active {
  text-decoration: none;
}
.user .disabled.form-submit,
.search .disabled.form-submit, .user [disabled].form-submit,
.search [disabled].form-submit {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: 0.65;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: default;
}

/* Mixins
   ========================================================================== */
/* Default button, we dont use gradiant mixin sin since it's part of color module */
.button,
a.button {
  background-color: #444443;
  border: 1px;
  color: #fffff8;
  line-height: 100%;
  padding: 8px 14px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFlMWUxZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444443), color-stop(100%, #1e1e1f));
  background-image: -moz-linear-gradient(#444443, #1e1e1f);
  background-image: -webkit-linear-gradient(#444443, #1e1e1f);
  background-image: linear-gradient(#444443, #1e1e1f);
}
.button:link, .button:visited, .button:focus, .button:active,
a.button:link,
a.button:visited,
a.button:focus,
a.button:active {
  color: #fffff8;
  text-decoration: none;
  background-image: none;
  background-color: #444443;
}
.button:hover,
a.button:hover {
  background-color: #1e1e1e;
  background-image: none;
}

/* Default button */
/* Theme button */
/* Action button */
/* Warning button */
/* Danger button */
/* Don't use native buttons on iOS */
input[type=submit].button,
button.button {
  -webkit-appearance: none;
}

/* Correct FF button padding */
@-moz-document url-prefix() {
  button::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner,
  input[type="button"]::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
    padding: 0;
  }
}
/* Colors settings */
body {
  background-color: #d4d4d4;
}

.header-wrapper {
  background-color: #001a27;
}

.topbar {
  background-color: #d8d8d8;
  color: #fffffa;
}

.navigation-wrapper {
  background-color: #001a28;
  color: #eeeeee;
}

.main-menu .menu-item,
.header-wrapper .pane-user-menu .sub-menu .menu-item,
.secondary-menu .menu-item,
.system-user-menu .menu-item {
  color: #eeeeee;
}

.main-menu .menu-item:hover,
.header-wrapper .pane-user-menu .sub-menu .menu-item:hover,
.secondary-menu .menu-item:hover,
.system-user-menu .menu-item:hover,
.main-menu .menu-item.active,
.header-wrapper .pane-user-menu .sub-menu .menu-item.active,
.secondary-menu .menu-item.active,
.system-user-menu .menu-item.active {
  color: #eeeeef;
}

.rs-carousel {
  background-color: #a32e10;
}

.rs-carousel-inner {
  background: #d8d8d8;
}

.rs-carousel-tabs .rs-carousel-list-tabs .rs-carousel-item.active a,
.rs-carousel-tabs .rs-carousel-list-tabs .rs-carousel-item a:hover {
  background-color: #b7b7b5;
}

.rs-carousel-tabs .rs-carousel-list-tabs .rs-carousel-item.active a:before {
  border-bottom-color: #b7b7b5;
}

.rs-carousel-tabs .rs-carousel-list-tabs .rs-carousel-item a {
  background-color: #7f7f7f;
}

.label a,
.view-node-search-result .list-item .field-type-taxonomy-term-reference a a,
.ting-reference-reverse-list .list-item .field-type-taxonomy-term-reference a a,
.subjects .subject a,
.news-list .news-label a,
.super-heading .field-name-field-ding-news-library .field-item a {
  background-color: #73b400;
  color: #fffffd;
}

.label a:hover,
.view-node-search-result .list-item .field-type-taxonomy-term-reference a a:hover,
.ting-reference-reverse-list .list-item .field-type-taxonomy-term-reference a a:hover,
.subjects .subject a:hover,
.news-list .news-label a:hover,
.super-heading .field-name-field-ding-news-library .field-item a:hover,
.event-list-leaf .event-list-day {
  background-color: #83cb03;
  color: #fafaf7;
}

.layout-wrapper {
  background-color: #fffffe;
}

.field-name-field-ding-news-materials .field-item,
.library-list .views-row, .field-name-field-ding-page-materials .field-item,
.news-list .news-list-item,
#ding-library-front .opening-hours-week .header,
.groups-list .groups-list-item {
  background-color: #ebebeb;
}

.field-name-field-ding-news-materials .field-item:nth-child(odd),
.library-list .views-row:nth-child(odd),
.field-name-field-ding-page-materials .field-item:nth-child(odd),
.news-list .news-list-item:nth-child(odd),
.event-list .event-list-item:nth-child(odd),
.opening-hours-week .days .odd,
.staff-list .staff-list-item:nth-child(odd),
.staff-list-all .staff-list-item:nth-child(odd),
.groups-list .groups-list-item:nth-child(odd) {
  background-color: #e8e8e8;
  color: #4c4c4c;
}

.field-name-field-ding-news-materials .field-item:nth-child(even),
.library-list .views-row:nth-child(even),
.field-name-field-ding-page-materials .field-item:nth-child(even),
.news-list .news-list-item:nth-child(even),
.event-list .event-list-item:nth-child(even),
.opening-hours-week .days .even,
.staff-list .staff-list-item:nth-child(even),
.staff-list-all .staff-list-item:nth-child(even),
.groups-list .groups-list-item:nth-child(even) {
  background-color: #f2f2f2;
  color: #4c4c4c;
}

.footer .pane-title {
  color: #fefff9;
}

a:link {
  color: #436972;
}

a:visited,
a:hover {
  color: #36555c;
}

.ui-dialog {
  background-color: #00cafd;
}

.ui-widget-content {
  color: #000003;
}

/**
 * Mixins
 *
 * @author magnify
 */
/* Media query
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/* Typography mixins
 *
 * These are mixins to allow for use in media queries
   ========================================================================== */
/* Availability
   ========================================================================== */
/* Pseudo arrow
 *
 * Usage example: pseudo-arrow(10px, #000, top, center, $offset: 20px)
   ========================================================================== */
/* Theme button */
/* Header button */
.user .form-submit,
.search .form-submit {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzODcxYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UzMzUwMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3871b), color-stop(100%, #e33503));
  background-image: -moz-linear-gradient(#f3871b, #e33503);
  background-image: -webkit-linear-gradient(#f3871b, #e33503);
  background-image: linear-gradient(#f3871b, #e33503);
  /* Make sure buttons get a background color in IE */
  background-color: #f3871b;
  border: 0;
  color: #fff;
}
.user .form-submit:link,
.search .form-submit:link, .user .form-submit:visited,
.search .form-submit:visited {
  color: #fff;
}
.user .form-submit:link,
.search .form-submit:link, .user .form-submit:visited,
.search .form-submit:visited, .user .form-submit:focus,
.search .form-submit:focus, .user .form-submit:hover,
.search .form-submit:hover, .user .form-submit:active,
.search .form-submit:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4N2EwYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NhMmYwMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e87a0c), color-stop(100%, #ca2f03));
  background-image: -moz-linear-gradient(#e87a0c, #ca2f03);
  background-image: -webkit-linear-gradient(#e87a0c, #ca2f03);
  background-image: linear-gradient(#e87a0c, #ca2f03);
  background-color: #e33503;
}

#page {
  background: #fff;
  border: 10px solid #fff;
  margin: 0 auto;
}
@media only screen and (min-width: 1211px) {
  #page {
    width: 1160px;
  }
}

.navigation-wrapper {
  border-bottom: 10px solid #fff;
}

.site-name {
  display: none;
}

.topbar-menu {
  margin-top: 15px;
}
.topbar-menu .menu-item {
  color: #001a27;
  text-shadow: none;
}
.topbar-menu .menu-item.active,
.topbar-menu .menu-item:hover {
  background-color: #001a27;
  color: #fff;
}

.header-wrapper .search label,
.header-wrapper .user label {
  font-family: "SourceSansProLight";
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.5px;
  margin-bottom: 13px;
  margin-top: -14px;
  text-transform: uppercase;
}
.header-wrapper .search label,
.header-wrapper .user label {
  display: none;
}
.header-wrapper .search .form-submit,
.header-wrapper .user .form-submit {
  margin-top: 0;
}
.header-wrapper .user {
  padding: 30px 10px 30px 0;
}
.header-wrapper .search {
  padding-bottom: 40px;
}

.main-menu-wrapper {
  padding-left: 0;
}
.main-menu-wrapper .main-menu {
  position: relative;
  z-index: 10;
}
.main-menu-wrapper .main-menu .menu-item.active {
  text-decoration: none;
}
.main-menu-wrapper .main-menu a {
  border: 1px solid #fff;
  color: #eeeeee;
  margin: 0 -5px 0 0;
  padding: 20px;
  position: relative;
}
.main-menu-wrapper .main-menu a:hover {
  color: #eeeeef;
}
.main-menu-wrapper .main-menu a:hover:before,
.main-menu-wrapper .main-menu li.active a:before {
  border: 1px solid #fff;
  border-bottom: 0;
  color: #eeeeee;
  content: "";
  display: block;
  height: 8px;
  left: -1px;
  position: absolute;
  top: -8px;
  width: 100%;
  z-index: 11;
}
.main-menu-wrapper .main-menu li.active a:before {
  text-decoration: none;
}
.main-menu-wrapper .main-menu li:first-child a,
.main-menu-wrapper .main-menu li:first-child a:hover:before,
.main-menu-wrapper .main-menu li:first-child.active a:before {
  background-color: #e33503;
}
.main-menu-wrapper .main-menu li:first-child + li a,
.main-menu-wrapper .main-menu li:first-child + li a:hover:before,
.main-menu-wrapper .main-menu li:first-child + li.active a:before {
  background-color: #f3871b;
}
.main-menu-wrapper .main-menu li:first-child + li + li a,
.main-menu-wrapper .main-menu li:first-child + li + li a:hover:before,
.main-menu-wrapper .main-menu li:first-child + li + li.active a:before {
  background-color: #73b400;
}
.main-menu-wrapper .main-menu li:first-child + li + li + li a,
.main-menu-wrapper .main-menu li:first-child + li + li + li a:hover:before,
.main-menu-wrapper .main-menu li:first-child + li + li + li.active a:before {
  background-color: #73a29a;
}
.main-menu-wrapper .main-menu li:first-child + li + li + li + li a,
.main-menu-wrapper .main-menu li:first-child + li + li + li + li a:hover:before,
.main-menu-wrapper .main-menu li:first-child + li + li + li + li.active a:before {
  background-color: #436a71;
}

.navigation-wrapper {
  height: 65px;
}

.navigation-wrapper,
.navigation-inner {
  overflow: initial;
}

.user .form-submit,
.search .form-submit {
  border: 2px solid #fff;
  font-size: 130%;
}

.rs-carousel-tabs .rs-carousel-list-tabs .rs-carousel-item.active a,
.rs-carousel-tabs .rs-carousel-list-tabs .rs-carousel-item a:hover {
  color: #436972;
}

.rs-carousel-title {
  font-size: 200%;
  font-family: "SourceSansProLight";
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.rs-carousel-inner {
  min-height: 200px;
}

.rs-carousel-mask li {
  width: 125px;
}
.rs-carousel-mask li a {
  width: 125px;
}
.rs-carousel-mask li .rs-carousel-item-title {
  font-size: 85%;
  line-height: 1em;
}
.rs-carousel-mask .rs-carousel-item-title {
  display: none;
}
.rs-carousel-mask li:hover .rs-carousel-item-title {
  display: block;
}
.rs-carousel-mask li:nth-child(5n+1) a {
  background-color: rgba(227, 53, 3, 0.55);
}
.rs-carousel-mask li:nth-child(5n+1):hover a {
  background-color: rgba(227, 53, 3, 0.8);
}
.rs-carousel-mask li:nth-child(5n+2) a {
  background-color: rgba(243, 135, 27, 0.55);
}
.rs-carousel-mask li:nth-child(5n+2):hover a {
  background-color: rgba(243, 135, 27, 0.8);
}
.rs-carousel-mask li:nth-child(5n+3) a {
  background-color: rgba(115, 180, 0, 0.55);
}
.rs-carousel-mask li:nth-child(5n+3):hover a {
  background-color: rgba(115, 180, 0, 0.8);
}
.rs-carousel-mask li:nth-child(5n+4) a {
  background-color: rgba(115, 162, 154, 0.55);
}
.rs-carousel-mask li:nth-child(5n+4):hover a {
  background-color: rgba(115, 162, 154, 0.8);
}
.rs-carousel-mask li:nth-child(5n+5) a {
  background-color: rgba(67, 106, 113, 0.55);
}
.rs-carousel-mask li:nth-child(5n+5):hover a {
  background-color: rgba(67, 106, 113, 0.8);
}

.pane-ting-object .collapsible .field-group-format-title:before,
.pane-ting-object .pane-ting-object .ding-periodical-fold:before {
  color: #436972;
}

.sub-menu > li a,
.sub-menu li:before {
  color: #436972;
}
.sub-menu li a:hover {
  color: #36555c;
}

.bottom {
  background-color: #001a27;
  position: static;
  margin-bottom: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

.footer {
  background-color: #001a27;
  position: static;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
}
.footer .menu li a {
  color: #bcdf4d;
}
.footer .menu li:before {
  color: #006987;
}

.footer-inner {
  padding-top: 15px;
  position: relative;
}

.footer-inner:before {
  background: url("../img/ribbon.png") repeat 0 0;
  border-bottom: 1px solid #fff;
  content: "";
  display: block;
  height: 14px;
  left: -10px;
  position: absolute;
  top: -30px;
  width: 110%;
}

.frontpage-layout .layout-wrapper,
.frontpage-layout .primary-content {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.frontpage-layout .secondary-content {
  padding-left: 0;
}
.frontpage-layout .tertiary-content {
  padding-right: 0;
}

.group-blocks--wrapper {
  padding-left: 0;
  padding-right: 0;
}

.content-wrapper,
.default-layout {
  margin-top: 0;
}

.default-layout .layout-wrapper {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
.default-layout .primary-content {
  padding-right: 0;
}
.default-layout .secondary-content {
  padding-left: 0;
}

.pane-ding-facetbrowser a:visited,
.pane-search-backends a:visited {
  color: #bcdf4d;
}

.tabs.primary {
  height: 60px;
  padding-left: 0;
}

@media only screen and (max-width: 768px) {
  .main-menu-wrapper .main-menu a:hover:before,
  .main-menu-wrapper .main-menu li.active a:before {
    display: none;
  }

  .icon-angle-right:before,
  .main-menu li:before,
  .header-wrapper .pane-user-menu .sub-menu li:before,
  .secondary-menu li:before, .system-user-menu li:before,
  .sub-menu li:before, .footer .menu li:before {
    display: none;
  }

  .main-menu li.first .menu-item {
    margin-left: 0;
  }

  .navigation-wrapper,
  .navigation-inner {
    height: initial;
    overflow: hidden;
  }

  .secondary-menu li .menu-item,
  .header-wrapper .pane-user-menu .sub-menu li .menu-item {
    color: #001a27;
  }

  .rs-carousel-tabs {
    padding-top: 20px;
  }

  .rs-carousel-mask .rs-carousel-item-title {
    display: block;
  }

  .user .form-item-name {
    width: 100%;
  }
  .user label {
    padding-top: 14px;
  }
  .user .form-actions {
    margin-left: 10px;
  }
  .user .form-item-name,
  .user .form-item-pass {
    padding-right: 0;
  }
}
