/* Colors settings */

body {
  background-color: $body-background-color;
}

.header-wrapper {
  background-color: $header-background-color;
}

.topbar {
  background-color: $topbar-background-color;
  color: $topbar-text-color;
}

.navigation-wrapper {
  background-color: $navigation-background-color;
  color: $navigation-text-color;
}

.main-menu .menu-item,
.header-wrapper .pane-user-menu .sub-menu .menu-item,
.secondary-menu .menu-item,
.system-user-menu .menu-item {
  color: $navigation-text-color;
}

.main-menu .menu-item:hover,
.header-wrapper .pane-user-menu .sub-menu .menu-item:hover,
.secondary-menu .menu-item:hover,
.system-user-menu .menu-item:hover,
.main-menu .menu-item.active,
.header-wrapper .pane-user-menu .sub-menu .menu-item.active,
.secondary-menu .menu-item.active,
.system-user-menu .menu-item.active {
  color: $navigation-text-color-active;
}

.rs-carousel {
  background-color: $tabroll-background-color;
}

.rs-carousel-inner {
  background: $carousel-background;
}

.rs-carousel-tabs .rs-carousel-list-tabs .rs-carousel-item.active a,
.rs-carousel-tabs .rs-carousel-list-tabs .rs-carousel-item a:hover {
  background-color: $carousel-tab-active-background;
}

.rs-carousel-tabs .rs-carousel-list-tabs .rs-carousel-item.active a:before {
  border-bottom-color: $carousel-tab-active-background;
}

.rs-carousel-tabs .rs-carousel-list-tabs .rs-carousel-item a {
  background-color: $carousel-tab-background;
}

.label a,
.view-node-search-result .list-item .field-type-taxonomy-term-reference a a,
.ting-reference-reverse-list .list-item .field-type-taxonomy-term-reference a a,
.subjects .subject a,
.news-list .news-label a,
.super-heading .field-name-field-ding-news-library .field-item a {
  background-color: $label-bg-color;
  color: $label-text-color;
}

.label a:hover,
.view-node-search-result .list-item .field-type-taxonomy-term-reference a a:hover,
.ting-reference-reverse-list .list-item .field-type-taxonomy-term-reference a a:hover,
.subjects .subject a:hover,
.news-list .news-label a:hover,
.super-heading .field-name-field-ding-news-library .field-item a:hover,
.event-list-leaf .event-list-day {
  background-color: $label-bg-color-hover;
  color: $label-text-color-hover;
}

.layout-wrapper {
  background-color: $content-background-color;
}

.field-name-field-ding-news-materials .field-item,
.library-list .views-row, .field-name-field-ding-page-materials .field-item,
.news-list .news-list-item,
#ding-library-front .opening-hours-week .header,
.groups-list .groups-list-item {
  background-color: $list-background-color;
}

.field-name-field-ding-news-materials .field-item:nth-child(odd),
.library-list .views-row:nth-child(odd),
.field-name-field-ding-page-materials .field-item:nth-child(odd),
.news-list .news-list-item:nth-child(odd),
.event-list .event-list-item:nth-child(odd),
.opening-hours-week .days .odd,
.staff-list .staff-list-item:nth-child(odd),
.staff-list-all .staff-list-item:nth-child(odd),
.groups-list .groups-list-item:nth-child(odd) {
  background-color: $list-item-background-color-odd;
  color: $list-text-color;
}

.field-name-field-ding-news-materials .field-item:nth-child(even),
.library-list .views-row:nth-child(even),
.field-name-field-ding-page-materials .field-item:nth-child(even),
.news-list .news-list-item:nth-child(even),
.event-list .event-list-item:nth-child(even),
.opening-hours-week .days .even,
.staff-list .staff-list-item:nth-child(even),
.staff-list-all .staff-list-item:nth-child(even),
.groups-list .groups-list-item:nth-child(even) {
  background-color: $list-item-background-color-even;
  color: $list-text-color;
}

.footer .pane-title {
  color: $footer-text-color;
}

a:link {
  color: $link-color;
}

a:visited,
a:hover {
  color: $link-color-hover;
}

.ui-dialog {
  background-color: $dialog-background;
}

.ui-widget-content {
  color: $dialog-text;
}